<div class="dark-theme-toggle-container d-flex align-items-center ms-2">
    <button id="darkThemeToggleButton"
            class="dark-theme-toggle-button"
            type="button"
            title="Switch between dark and light mode (currently light mode)"
            aria-label="Switch between dark and light mode (currently light mode)"
            data-light-icon="/images/theme-toggle/theme-light.svg"
            data-dark-icon="/images/theme-toggle/theme-dark.svg">
        <img class="dark-theme-toggle-icon" src="/images/theme-toggle/theme-light.svg" alt="" aria-hidden="true" />
    </button>
</div>
